/* * {
  outline : 2px solid red;
} */
html {
  height: 100%;
}
body {
   background-color: rgba(238, 238, 238, 0.93) !important;
   background-image: url('../images/background.jpg');
   background-blend-mode: color;
   background-size: cover;
   background-color: #fff;
   font-family: 'Montserrat light', sans-serif;
   min-height: 100%;
   display: flex;
   flex-direction: column;
}

.main-tab {
  margin-top: 5%;
  margin-left: 5%;
  background-color: #F8F9FA;
  padding-bottom: 5%;

}

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
  }


a {
  color: #49AAA5;
}
a:hover {
  text-decoration: none;
  color:#7CC2BE;
  font-weight: bolder;
}

/* Universal styles */

.page-title {
  color: #49AAA5;
}

/* Profile page specific*/

.profile-pic {
  inline-size: 22rem;

}
/* Portfolio placeholder image */

.portfolio-place-holder {
  height: 21rem;
  width: 21rem;
}


/* Contact me page specific*/
form {
  padding: 3% 0 0;
}


/* Contact me page button */

.page-color-theme {
  background-color: #49AAA5;
  color: #fff;
}

.page-color-theme:hover {
  background-color: #7CC2BE;
  color: #BDFFFC;
}


/* Sticky footer */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F8F9FA;
  color: #49AAA5;
  text-align: center;
  font-weight: 700;
}


/* Custom screen size responsiveness */


 @media screen and (max-width: 768px) {

  .profile-pic {
    inline-size: 15rem;
  }
  
}


@media screen and (max-width: 400px) {

  .profile-pic {
    inline-size: 9rem;
  }

  .main-tab {
    margin:0;
    padding: 7%;
  }

  form {
    padding: 25% 5% 40%;
  }

}